.router
{
    background: rgb(255, 255, 255);  /* fallback for old browsers */
    background: linear-gradient(to bottom, rgba(2, 62, 175, 0.644), rgba(255, 255, 255, 0.521));
    background-size: 100%;
    position: absolute;
    top:0px;
    right: 0px;
    left: 0px;
    height: auto;
    width: 100%;
    z-index: -1;
}
