<div class="container">

  <div style="text-align: center">
    <h3 class="texto-titulo"> Trabajo practico final de Laboratorio IV</h3>
    <br>
    <h3 class="texto-subtitulo"> Trabajo sobre el control se stock de una empresa.</h3>
    <h4>
     <br><br>
      A B M: <br>
    <div style="margin-left: 15%">
      -Articulos<br>
      -Proveedores<br>
      -Clientes<br>
      -Rubros<br>
      -Facturas de compra<br>
      -Facturas de venta<br>
    </div>
    <br>
    Creacion y uso de Servidor node.js<br>
    Relacionado con base de dato en Postgres
    <br>
    </h4>
    <br><br>
    <h3 class="texto-creador">
      Created by: Joan Sabotig
      
    </h3>
  </div>
</div>