<div class="container">

  <div style="text-align: center">
    <h3 class="texto-titulo"> Trabajo practico final de Laboratorio IV</h3>
    <br>
    <h3 class="texto-subtitulo"> Trabajo sobre el control se stock de una empresa.</h3>
    <h4>
     <br><br>
      A B M: <br>
    <div style="margin-left: 15%">
      -Articulos<br>
      -Proveedores<br>
      -Clientes<br>
      -Rubros<br>
      -Facturas de compra<br>
      -Facturas de venta<br>
    </div>
    <br>
    Creacion y uso de Servidor node.js + Sequelize<br>
    Relacionado con base de dato en Postgres
    <br>
    </h4>
    <br><br>
    <h3 class="texto-creador">
      Created by: Joan Sabotig
      
    </h3>
    <br><br>
    <h5>Agregar contenido a la base de datos de: <br>
      Rubros - Articulos - Clientes - Proveedores
  </h5>
    <button class="btn btn-success" (click)="iniciar()">Precargar datos</button>
    <br><br>
    <h5>Eliminar el contenido de la base de datos de: <br>
        Rubros - Articulos - Clientes - Proveedores - Facturas 
    </h5>
    <button class="btn btn-danger" (click)="limpiarBase()">Limpiar base de datos</button>
  </div>
</div>
